@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.input-placeholder-sm::placeholder {
  @apply text-xs;
}

.ti-eye-off {
  content: "\e901";
}

.dashboard:hover {
  background-color: #272727;
  border-radius: 8px;
  color: white;
}
.li-active {
  background-color: #272727;
  color: #fff;
  border-radius: 7px;
}

.btn-x {
  background-color: transparent;
  border: none;
  color: black;
  opacity: 1;
}

.active-bg-button {
  background: rgb(73, 73, 204);
  color: white;
}
.PhoneInputInput:focus {
  outline: none;
}
